.lightCard {
    background-color: #ddd;
    padding: 1rem;
    border-radius: 8px;
    width: 400px;
    padding: 1rem;
    border: 1px solid;
    margin: 1rem;
}

.darkCard {
    background-color: #444;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    width: 400px;
    padding: 1rem;
    border: 1px solid;
    margin: 1rem;
}

.button {
    background-color: #0072bc;
    color: white;
    border: 1px solid;
    padding: 8px 32px;
    display: inline-block;
    margin-top: 1rem;
}

.harchi1 {
    border: 10px solid red;
}

.harchi2 {background-color: blue;}